doctype html
html(lang='en')
  head
    title Welcome to Koa
    link(href='//fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/css/app.css")
  body
    #welcome Hi #{text}